@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  color-scheme: light dark;
  font-size: 1.5rem;
  
}


 details > summary {
   list-style: none;
 }
 details > summary::-webkit-details-marker {
   display: none;
 }


/* TODO: make more elegant solution / test on real mobile */

@media (max-width: 480px) {
  :root {
      font-size: 1.25rem;
  }
  /* main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  } */
}
@media (max-width: 405px) {
  :root {
      font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  :root {
      font-size: 1.1rem;
  }
}
@media (max-width: 360px) {
  :root {
      font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
}